# Ignore the environment inside the backend folder
backend/venv/

# Also ignore Python cache files
**/__pycache__/
*.pyc

# --- React (Frontend) ---
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.development.local

# --- System & IDE ---
.DS_Store
.vscode/
.idea/
*.log